 *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.row.g-0.d-flex.justify-content-center.align-items-center{
    padding: 0;
    width: 550px;
    height: 401px;
    margin-top: 0;
    border-radius: 1rem;
    background-color: white;
    overflow: hidden;

}

.img-fluid.w-100{
    height: 100%;
}
.col-md-6{
    height: 100%;
}
.card-title{
    
    color:hsl(228, 12%, 48%);
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;

}
.card-text.first-line.fw-bolder {
    font-size: 32px;
    font-family: 'Fraunces', serif;
}


.card-text.second-line{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}


.old-price{
    color: hsl(228, 12%, 48%);
    padding-top: 2px;
}
.new-price{
    font-size: 30px;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}

.w-100.btn{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(158, 36%, 37%);
    color: white;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.w-100.btn:hover{
    background-color:hsl(159, 53%, 22%);
    color: white;

} 
@media (max-width:780px) {
body {
        height: 100% ;
        }
        .row.g-0.d-flex.justify-content-center.align-items-center {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            width: 350px;
            height: 100%;
        }

        .col-md-6.img{
            width: 100%;
        }
        .img-fluid.w-100{
            display: none;
        }
        .mobile-img{
            display: block;
            width: 100%;
            height: 100%;
        }
        .card-text.first-line br {
            display: none;
        }
}